@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
  box-sizing: border-box;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem 0;

  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.title {
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;

  color: #000;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.1;
  text-align: center;
}

.description {
  width: 100%;
  margin: 0 0 3rem;
  padding: 0;

  color: #000;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form__input-title {
  width: 80%;
  margin: 0 0 .5rem;
  padding: 0;

  color: #000;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.1;
  text-align: left;
}

.form__input-text {
  box-sizing: border-box;
  width: 80%;
  height: 2.5rem;
  margin: 0 0 1rem;
  padding: .5rem .5rem;

  color: #000;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1;
  text-align: left;

  background-color: #fff;
  border: 1px solid #888;
  border-radius: 2px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}
